﻿#search {
    background-color: rgba(255, 255, 255, 0.88);
    padding: 1rem;
    width: 100%;
    height: 100%;
}

form {
    width: 100%;
}

form ul li {
    list-style: none;
}

label {
    margin-right: auto;
    width: 100%;
    float: left;
}

form ul {
    margin: 0 auto;
}

form input #button {
    display: block;
    margin: 0 auto;
}
