﻿@{
    ViewData["Title"] = "トップ";
}
@section Scripts {
    <script type="text/javascript" src="~/js/index.js"></script>
}
<section id="caution">
    <p>株式会社コナミデジタルエンタテインメントのアイドルゲーム「ときめきアイドル」の通常ライブのリザルト画面のデータを読み取り、ランキング化するサービスです</p>
    <p>なお個人によるサイト運営で公式とは関係ありません。</p>
    <p style="color:red">投稿システム及びプロデューサー検索システムはまだ使うことができません。</p>
    <p>ランキングデータは管理者である神御田プロデューサーがが登録するので画像を<a href="mailto:kamioda@mail.meigetsu.jp">メール</a>にて送信して下さい</p>
    <p>ランキングページのみ旧サイトの方にリンクされています</p>
    <p>旧サイトは<a href="https://old.tokidolranking.meigetsu.jp">こちら</a></p>
</section>
<section id="recordlink"></section>
<section id="producer">
    <dl>
        <dt>管理人</dt>
        <dd>安藤院生徒会長(<a href="https://twitter.com/anndouin" target="_blank">@@anndouin</a>)</dd>
        <dd>神御田プロデューサー(<a href="https://twitter.com/kamioda_ampsprg" target="_blank">@@kamioda_ampsprg</a>)</dd>
        <dt>技術協力</dt>
        <dd>yumetodo(<a href="https://twitter.com/yumetodo" target="_blank">@@yumetodo</a>)</dd>
        <dd>YSR(<a href="https://twitter.com/YSRKEN" target="_blank">@@YSRKEN</a>)</dd>
        <dt>ランキング</dt>
        <dd>広報アカウント(<a href="https://twitter.com/tokidol_ranking" target="_blank">@@tokidol_ranking</a>)</dd>
        <dd>サイト開発情報(<a href="https://twitter.com/tokidolrank" target="_blank">@@tokidolrank</a>)</dd>
        <dt>イラスト協力</dt>
        <dd>
            <p>アンコさん</p>
            <ul>
                <li>月風魔伝ビーストメドレー</li>
                <li>AKUMAJO　DRACULA　MEDLE</li>
            </ul>
        </dd>
        <dd>
            <p>えびふりゃさん</p>
            <ul>
                <li>もっと！モット！ときめき</li>
                <li>お月様のメロディー</li>
                <li>恋のパズルマジック</li>
            </ul>
        </dd>
        <dd>
            <p>1日分の野菜さん</p>
            <ul>
                <li>Magic Hour</li>
            </ul>
        </dd>
        <dd>
            <p>安藤院生徒会長</p>
            <ul>
                <li>しゃかりきリレーション</li>
                <li>Gradius Foursuit Twopianos</li>
            </ul>
        </dd>
        <dd>
            <p>梨夜さん</p>
            <ul>
                <li>冒険デイズ</li>
            </ul>
        </dd>
        <dd>
            <p>初葉プロデューサー</p>
            <ul>
                <li>Love Letter</li>
                <li>SUN2 SUMMER STEP!</li>
            </ul>
        </dd>
        <dd>
            <p>yamさん</p>
            <ul>
                <li>トキメキ☆ミライ</li>
            </ul>
        </dd>
    </dl>
</section>
