﻿@model TokidolRanking.MainSite.Models.LiveUploadModel
@{
    ViewData["Title"] = "【ライブ】投稿";
}

<section id="upload" style="display:block">
    <section id="caution">
        <p style="color:red">投稿していただいたレコードは監査を行い、違うレコードが記録されていた場合は、管理者が書き換えを行います。</p>
        <p style="color:red">リストにない曲はランキングが未対応なので、管理者に画像を送信して下さい。</p>
        <p style="color:red">OCRには若干の時間がかかりますが、これはエンジンの仕様ですので送信ボタンを押した後は何もしないで下さい。</p>
    </section>
    <section id="input">
        <form>
            <h4>楽曲</h4>
            <select id="musiclist" asp-items="Model.Musics"></select>
            <h4>リザルト画面</h4>
            <p><input type="file" accept="image/jpeg,image/png,image/bmp" name="resultscreen" /></p>
            <p><input type="submit" id="send" value="送信" /></p>
        </form>
    </section>
    <section id="screenshot">
        <h4>投稿できるスクリーンショットのサンプル</h4>
        <img src="~/pic/live.png" />
    </section>
</section>
