﻿@{
    ViewData["Title"] = "【メロディアスライブ】投稿";
}

<section id="upload" style="display:block">
    <section id="caution">
        <p style="color:red">投稿していただいたレコードは監査を行い、違うレコードが記録されていた場合は、管理者が書き換えを行います。</p>
        <p style="color:red">読み取る箇所は獲得ファン数の合計のみで、キャラクター別のファン数の集計は行いません。</p>
        <p style="color:red">OCRには若干の時間がかかりますが、これはエンジンの仕様ですので送信ボタンを押した後は何もしないで下さい。</p>
    </section>
    <section id="input">
        <form>
            <label>リザルト画面</label>
            <p><input type="file" accept="image/*" name="resultscreen" /></p>
            <p><input type="submit" id="send" value="送信" /></p>
        </form>
    </section>
    <section id="screenshot">
        <h4>投稿できるスクリーンショットのサンプル</h4>
        <img src="~/pic/melodius.png" />
    </section>
</section>
<section id="correct" style="display:none">
    <input type="tel" id="score" />
</section>
<section id="callnumber" style="display:none">
</section>
