﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TokidolRanking.MainSite.Models.MigrationFromOldProducerIDModel
@{
    ViewData["Title"] = "アカウント移行手続き";
}

<h1>アカウント移行手続き</h1>
<h3>現在のプロデューサー名</h3>
<p>@Model.CurrentProducerName</p>
<h3>現在のプロデューサーID</h3>
<p>@Model.CurrentProducerID</p>
<p style="color:red">メールアドレスの登録が完了するまで名前やプロデューサーIDの変更はできません</p>
