﻿@{
    ViewData["Title"] = "プライバシーポリシー";
}
<div id="container">
    <h1>@ViewData["Title"]</h1>
    <section id="producer">
        <p>ときめきアイドルランキングサイト（以下「当サイト」といいます）は、以下のとおり当サイトを利用する一般ユーザーおよびプロデューサー(以下、「プロデューサー等」といいます)の個人情報保護方針を定め個人情報の保護を推進致します。</p>
        <section>
            <h4><u>個人情報</u></h4>
            <p>「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先その他の記述等により特定の個人を識別できる情報及び容貌、指紋、声紋にかかるデータ、及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報(個人識別情報)を指します。</p>
        </section>
        <section>
            <h4><u>個人情報の収集方法</u></h4>
            <p>当サイトは、一般ユーザーがランキングの投稿を行うことで利用登録が行われます。この時、本ポリシーに定められた手順に従い、メールアドレス及び本ポリシーに記載のある個人情報のみ収集を実施します。</p>
        </section>
        <section>
            <h4><u>個人情報の管理</u></h4>
            <p>当サイトは、プロデューサー等の個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。</p>
        </section>
        <section>
            <h4><u>個人情報の利用目的</u></h4>
            <p>プロデューサー等から提供していただいた個人情報等を収集・利用する目的は、以下の通りです</p>
            <p>1.	当サイトのサービス提供・運営のため</p>
            <p>2.	プロデューサー等のお問い合わせに回答するため(本人確認を行うことを含む)</p>
        </section>
        <section>
            <h4><u>利用目的の変更</u></h4>
            <p>当サイトは、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、本ポリシーに定められた手順に従い、個人情報の利用目的を変更するものとします。利用目的の変更を行った場合には、変更後の目的について、所定の方法により、プロデューサー等に対して通知し、または当サイトに公表するものとします。</p>
        </section>
        <section>
            <h4><u>個人情報の第三者への開示・提供の禁止</u></h4>
            <p>当社は、プロデューサー等よりお預かりした個人情報を適切に管理し、以下に該当する場合を除き、個人情報を第三者に開示いたしません。ただし、個人情報保護法やその他法令で認められる場合を除きます。</p>
            <ol>
                <li>人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                <li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
                <li>
                    <p>予め次の事項を告知あるいは公表し、かつ当サイト管理者が個人情報保護委員会に届出をしたとき</p>
                    <ol>
                        <li>利用目的に第三者への提供を含むこと</li>
                        <li>第三者に提供されるデータの項目</li>
                        <li>第三者への提供の手段または方法</li>
                        <li>本人の求めに応じて個人情報の第三者への提供を停止すること</li>
                        <li>本人の求めを受け付ける方法</li>
                    </ol>
                </li>
            </ol>
            <p>ただし、次に掲げる場合には、当該情報の提供先は第三者に該当しないものとします。</p>
            <ol>
                <li>当サイト管理者が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</li>
                <li>個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用される個人情報の項目、共同して利用する者の範囲、利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について、あらかじめ本人に通知し、または本人が容易に知り得る状態に置いた場合</li>
            </ol>
        </section>
        <section>
            <h4><u>個人情報の開示</u></h4>
            <p>当サイトは、プロデューサー等ご本人様から個人情報の開示を求められたときは、本人に対し、ご本人様確認を行った上で遅滞なくこれを開示します。ただし、開示することにより次のいずれかに該当する場合は、その全部または一部を開示しないこともあり、開示しない決定をした場合には、その旨を遅滞なく通知します。</p>
            <ol>
                <li>本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
                <li>当サイトの運営の適正な実施に著しい支障を及ぼすおそれがある場合</li>
                <li>その他法令に違反する場合</li>
            </ol>
            <p>なお、前述の定めにかかわらず、履歴情報および特性情報などの個人情報以外の情報については、原則として開示いたしません</p>
        </section>
        <section>
            <h4><u>プロデューサーの個人情報の訂正および削除</u></h4>
            <p>プロデューサーは、当サイトの保有する自己の個人情報が誤った情報である場合には、当サイトに登録されたメールアドレスまたはプロデューサーに対して提供される専用メールアドレスのいずれかにより、当サイト管理者に対して個人情報の訂正、追加または削除(以下、「訂正等」といいます。)を請求することができます。また、当サイト管理者は、プロデューサーから訂正等の請求を受けてその請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の訂正等の方法を提供するものとします。また、訂正等が行われた場合、または訂正等を行わない旨の決定をした時は、遅滞なく、これをプロデューサーに通知します。</p>
        </section>
        <section>
            <h4><u>一般ユーザーの個人情報の訂正および削除</u></h4>
            <p>一般ユーザーからサポートのために当サイトに提供された個人情報については、原則として訂正を行うことはできません。また、提供された個人情報については、サポート終了後に適切な手段にて遅滞なく、これを削除を実施します。</p>
        </section>
        <section>
            <h4><u>法令、規範の遵守と見直し</u></h4>
            <p>当サイトは、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>
        </section>
        <section>
            <h4><u>個人情報の収集方法</u></h4>
            <p>当サイトは、次の手順に従い、個人情報の収集を行います</p>
            <ol>
                <li>プロデューサー等に対し、収集を開始する10日以上前に当サイト、当サイトのTwitterアカウント、当サイトの管理者が運用するTwitterアカウントのいずれかにおいて収集する個人情報およびこれの収集手段の事前告知の実施</li>
                <li>事前告知を行ってから収集を開始する5日前迄に本ポリシーに収集する個人情報を記述</li>
                <li>本ポリシーに記載を行ってから収集を開始する前日迄に、これの通知を行う</li>
                <li>収集を開始</li>
            </ol>
        </section>
        <section>
            <h4><u>個人情報の利用目的の変更</u></h4>
            <p>当サイトは、次の手順に従い、個人情報の利用目的の変更を行います</p>
            <ol>
                <li>プロデューサー等に対し、変更する10日以上前に当サイト、当サイトのTwitterアカウント、当サイトの管理者が運用するTwitterアカウントのいずれかにおいて変更内容の事前告知の実施</li>
                <li>事前告知を行ってから収集を開始する5日前迄に本ポリシーの利用目的を更新</li>
                <li>本ポリシーの更新を行ってから収集を開始する前日迄に、これの通知を行う</li>
                <li>利用を開始</li>
            </ol>
        </section>
        <section>
            <h4><u>プライバシーポリシーの変更</u></h4>
            <p>本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、プロデューサー等に通知することなく、変更することができるものとします。ただし、当サイトが別途定める場合を除いて、変更後のプライバシーポリシーは、当サイトに掲載したときから効力を生じるものとします。</p>
        </section>
        <section>
            <h4><u>お問い合せ</u></h4>
            <p>当サイトの個人情報の取扱に関するお問い合せは下記までご連絡ください。</p>
            <p>担当者：ときめきアイドルスコアランキング管理者</p>
            <p>神御田プロデューサー</p>
            <p>Twitter：@@kamioda_ampsprg</p>
            <p>メール ：a0000001@@mail.tokidolranking.meigetsu.jp</p>
        </section>
        <section>
            <p>安藤院生徒会長</p>
            <p>Twitter：@@anndouin</p>
            <p>メール ：a0000002@@mail.tokidolranking.meigetsu.jp</p>
        </section>
        <section>
            <p>サイト公式Twitter：@@tokidol_ranking</p>
        </section>
    </section>
</div>
