﻿@model SearchModel
@{
    ViewData["Title"] = "プロデューサー検索";
}
@section Scripts {
    <script src="~/js/search.js" defer></script>
}

<div class="container">
    <h1>プロデューサー検索サービス</h1>
    <form id="signup" class="signup_form" novalidate>
        <div class="form-group">
            <label for="id" class="control-label">プロデューサーＩＤ</label>
            <input class="form-control" type="text" id="id" pattern="\w{6,}" />
        </div>
        <div class="form-row">
            <div class="form-group col-md-9">
                <label for="name" class="control-label">プロデューサー名</label>
                <input class="form-control" type="text" id="name" />
            </div>
            <div class="form-group col-md-3">
                <label for="position">役職</label>
                <select class="form-control" id="position" asp-items="Model.ProducerPositions"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="twitter" class="control-label">Twitter ID</label>
            <input class="form-control" type="text" id="twitter" pattern="\w{1,}" />
        </div>
        <button type="submit" id="search" class="btn btn-primary">検索</button>
    </form>
</div>
