﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TokidolRanking.MainSite.Models.SignUpModel
@{
    ViewData["Title"] = "サインアップ";
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input@1.3.4/dist/bs-custom-file-input.js"
            integrity="sha384-laubJR9ychMP8hYYv1m7dlKxK7SkUhbD7lsw+18p8oRpd+MXHR1uhXf7WzOF6OK3"
            crossorigin="anonymous"></script>
    <script src="~/js/signup.js" defer></script>
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <form id="signup" class="signup_form" novalidate>
        <div class="form-group">
            <label for="id" class="control-label"><span class="badge badge-danger">必須項目</span>プロデューサーＩＤ</label>
            <input class="form-control" type="text" id="id" pattern="\w{6,}" required />
            <div class="invalid-feedback" id="idError"></div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-9">
                <label for="name" class="control-label"><span class="badge badge-danger">必須項目</span>プロデューサー名</label>
                <input class="form-control" type="text" id="name" required />
            </div>
            <div class="form-group col-md-3">
                <label for="position">役職</label>
                <select class="form-control" id="position" asp-items="Model.ProducerPositions"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="mailAddress" class="control-label"><span class="badge badge-danger">必須項目</span>メールアドレス</label>
            <input class="form-control" type="email" id="mailAddress" aria-describedby="mailAddressHelpBlock" required />
            <small id="mailAddressHelpBlock" class="form-text text-muted">例: <code>name@example.com</code></small>
            <div class="invalid-feedback" id="mailAddressError"></div>
        </div>
        <div class="form-group">
            <label for="pass" class="control-label"><span class="badge badge-danger">必須項目</span>パスワード</label>
            <input class="form-control" type="password" id="pass" aria-describedby="passHelpBlock" required />
            <small id="passHelpBlock" class="form-text text-muted">機械によって自動生成されたものか3単語以上組み合わせたもの</small>
        </div>
        <div class="form-group">
            <label for="pass" class="control-label"><span class="badge badge-danger">必須項目</span>パスワード（確認）</label>
            <input class="form-control" type="password" id="passretype" required />
            <!-- 大文字小文字[] -->
            <div class="invalid-feedback">パスワードが一致しません</div>
        </div>
        <div class="form-group">
            <label for="icon">File input</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="icon" accept="image/*" />
                <label class="custom-file-label" for="icon" data-browse="参照">ファイル選択...</label>
            </div>
            <div class="invalid-feedback" id="iconError"></div>
        </div>
        <button type="submit" id="tempregister" class="btn btn-primary">送信</button>
    </form>
</div>
