﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SignInModel
@{
    ViewData["Title"] = "サインイン";
}

<div class="container">
    <section id="producer">
        <h1>@ViewData["Title"]</h1>
        @using (Html.BeginForm())
        {
            <div class="form-item">
                @Html.LabelFor(model => model.ProducerID)
            </div>
            <div class="form-item">
                @Html.TextBoxFor(model => model.ProducerID)
            </div>
            <div class="form-item">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="form-item">
                @Html.PasswordFor(model => model.Password)
            </div>
            <div class="button-panel">
                <input type="submit" class="btn-primary" value="サインイン" />
            </div>
            <label style="color:red">@Html.ValidationSummary()</label>
        }
    </section>
</div>
