﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Twitter";
}
<div class="container">
    <h1>Twitter連携について</h1>
    <section id="producer">
        <section>
            <h3>Twitter APIを使用して実行されること</h3>
            <p>ときめきアイドルスコアランキングでは、Twitterの最新のIDを次のタイミングで取得します</p>
            <ol>
                <li>プロデューサーが本サイトにサインインしたとき</li>
                <li>プロデューサーがTwitter認証ページでサインインし、本サイトに戻ってきたとき</li>
                <li>プロデューサーごとに指定された日時に自動的に</li>
            </ol>
            <p>なお、連携後に別のTwitterアカウントでサインインをすると、IDを確認するアカウントは変更されます</p>
        </section>
        <section>
            <h3>Twitter連携を解除したい場合</h3>
            <p>Twitterで連携しているアプリから「ときめきアイドルスコアランキング」を削除することによって、次回のTwitter IDの取得のタイミングで自動的に取得を停止します。</p>
            <p>なお、許可されている場合でも、Twitterの仕様変更等によりアクセストークンが無効になった場合にもIDの取得が停止します。</p>
            <p>また、ときめきアイドルスコアランキングに１年以上サインインしていない場合もIDの取得が停止します。</p>
            <p>Twitter IDの取得が停止した場合は、再度Twitterで認証を行うことでID取得を再開できます。</p>
        </section>
    </section>
</div>
